* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
  color: #243e63;
}
figure {
  width: 100%;
}
h1 {
  font-size: 48px;
  color: #243e63;
  line-height: 1.25;
}
.text__purple {
  color: red;
}
.container {
  padding: 50px 0;
  width: 100%;
}
section {
  padding: 0 32px;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.nav__img--logo {
  width: 40px;
  height: 40px;
}

.nav__container {
  display: flex;
  align-items: center;
  padding-top: 32px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0px;
  padding: 0 0 4px;
}
.nav__logo--title {
  font-weight: 900;
  font-size: 30px;
  margin: 0 0 0 12px;
  letter-spacing: 0.6px;
  padding: 0 0 2px;
  color: #243e63;
}


header .row{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 512px;
 
}
.header__description--para {
  display: flex;
  text-align: center;
  margin: 32px 0;
  font-size: 30px;
}
.header__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10
  0%;
}
.header__img {
  width: 100%;
  padding: 20px;
}

.search__bar {
  width: 100%;
  max-width: 800px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search__bar--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}
.search__bar--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 100px;
  border: none;
  background-color: red;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms;
}
.search__bar--btn:hover {
  background-color: #f87171;
  color: #fff;
}
section#search__results {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.row__narrow{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.search__results--heading{
  display: flex;
  justify-content: space-between;
  color: #243e63; 
  margin-top: 20px;
}
.search__results--title{
 
  font-size: 16px;
  color: #243e63; 
  margin-bottom: 20px;
}

#filter{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 25%;
  border: none;
  background-color: white;
  color: #243e63;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms;
}


.movie-list {
  width: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.movie {
  display: flex;
  width: 100%;
  border: none;
}

.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.movie-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.movie-card__container {
  padding: 2px 16px;

}

.loading__icon--container{
  display: none 
}
.loading__icon--container .loading__icon--spinner{
  display: block 
}

.fa-spinner{
  animation: rotate 600ms infinite linear;
  color: red;
}

@keyframes rotate {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 1024px) {
    header .row{
    flex-direction: column;
    align-items: center;
  }
    .header__description{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
  }
  .movie-list {
  display: flex;
  justify-content: space-around;
  }
    .movie {
    width: auto;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

}
 /*ipads and tablets*/
@media (max-width: 768px){
 .movie-list {
  display: flex;
  justify-content: space-around;
  }
  .movie {
    width: auto;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .container {
    padding: 0px 16px;
  }

  .search__bar {
    max-width: 70%;
  }
.search__bar--input {
    padding: 20px 10px 20px 32px;
  } 
  h1{
    font-size: 40px;
  }
  .search__results--heading {
    font-size: 30px;
  } 
}
/*SMALL PHONES*/
@media (max-width: 640px) {
  .nav__logo--title{
    font-size: 15px;
  }
  .nav__img--logo{
    width: 25px;
    height: 25px;
  }
  h1{
    font-size: 30px;
  }
  .container {
        padding: 0px 0;
  }
  .header__description--para {
    font-size: 14px;
  }
 
  .header__description {
    font-size: 20px;
  }
  .btn {
    line-height: 1.5;
  }
  
  .btn{
    margin-right: 0px;
    margin-top: 16px;
  }
  .search__bar {
    max-width: 80%;
  }
.search__bar--input {
    padding: 20px 10px 20px 32px;
  } 
  .search__bar--btn {
    width: 25%;
  }
}
